<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Hair Loss Stage Detection</title>
  </head>
  <body>
    <div class="main-container">
      <div class="left-div">
        <div class="logo">
          <img src="/static/mmlogo.png" alt="logo" id="logo" />
        </div>
        <div class="imageinput">
          <form method="post" action="/predict" enctype="multipart/form-data">
            <input type="file" id="myFile" name="filename" >
            <input type="submit" >
          </form>
        </div>
      </div>
      <div class="right-div">
        <div class="resultpage">
          <div id="image-preview-container">
            <div id="image-preview"><img src={{fileURL}}/></div>
          </div>
          <div>
            <div id="result"><span>Stage {{stage_value}} with {{confideneScore}} probability</span></div>
         </div>
          </div>
      </div>
    </div>
  </body>
  <script src="/static/main.js"></script>
</html>
